.row
  .col-xs-4.col-md-offset-3

    - if @item.errors.any? 
      #error_expl.panel.panel-danger
        .panel-heading
          %h3.panel-title
            = "#{pluralize(@item.errors.count, "error")}  prohibited this item from being saved:"
        
        .panel-body
          %ul
            - @item.errors.full_messages.each do |msg| 
              %li
                = msg 

    %p
      .control-group
        = f.label :name, "#{t('item.name')}: ", :class => 'control-label' 
        .controls
          = f.text_field :name, :class => 'form-control' 
          
    %p  
      .control-group
        = f.label :description, "#{t('item.description')}: ", :class => 'control-label' 
        .controls
          = f.text_area :description, :class => 'form-control' , :rows => 5
          
    %p
      .control-group
        = f.label :weight, "#{t('item.weight')}: ", :class => 'control-label' 
        .controls
          = f.text_field :weight, :class => 'form-control' 
          
    %p  
      .control-group
        = f.label :price, "#{t('item.price')}: ", :class => 'control-label' 
        .controls
          = f.text_field :price, :class => 'form-control' 
          
    %p
      .control-group
        = f.label :image,"#{t('item.image')}: ", :class => 'control-label' 
        .controls
          = f.file_field :image, :class => 'form-control' 
    %p
     
      .btn-group   
        = link_to t('button.cancel'),items_path, :class => 'btn btn-default'           
        = f.submit t('button.save'), :class => 'btn btn-success' 