.row
  .col-md-3
    = f.input :name, :class => 'form-control' 
    = f.input :description, :class => 'form-control' , :rows => 5
    = f.input :weight, :class => 'form-control' 
    = f.input :price, :class => 'form-control' 
    = f.input :image, :class => 'form-control' 
    = link_to t('button.cancel'),items_path, :class => 'btn btn-default'           
    = f.button :submit, t('button.save'), :class => 'btn btn-success' 