
%h1= @item.name 
%ul
  %li Цена: #{@item.price} руб.
  %li Описание: #{urls_to_links(urls_to_images(@item.description))}
  %li Вес: #{@item.weight} кг.
  %li Картинка: 
  %p
  =image_tag(@item.image_url(:large_image)) if @item.image?
= link_to "Edit", edit_item_path(@item)     

  
 
